[flake8]
ignore = E231, E203, W503
max-line-length = 88
docstring-convention = numpy
per-file-ignores =
    __init__.py:F401
    src/localization/training.py:E402

exclude =
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
    # No value in checking the deprecated code
    research/deprecated/*
